@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?v62k19');
	src:url('fonts/icomoon.eot?#iefixv62k19') format('embedded-opentype'),
		url('fonts/icomoon.woff?v62k19') format('woff'),
		url('fonts/icomoon.ttf?v62k19') format('truetype'),
		url('fonts/icomoon.svg?v62k19#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
	content: "\40";
}
.icon-paperplane:before {
	content: "\73";
}
.icon-paperclip:before {
	content: "\53";
}
.icon-reply:before {
	content: "\72";
}
.icon-user:before {
	content: "\75";
}
.icon-user-add:before {
	content: "\2b";
}
.icon-location:before {
	content: "\6c";
}
.icon-thumbsup:before {
	content: "\4c";
}
.icon-thumbsdown:before {
	content: "\46";
}
.icon-comment:before {
	content: "\63";
}
.icon-search:before {
	content: "\45";
}
.icon-bell:before {
	content: "\e60a";
}
.icon-link:before {
	content: "\25";
}
.icon-cog:before {
	content: "\24";
}
.icon-tag:before {
	content: "\54";
}
.icon-camera:before {
	content: "\43";
}
.icon-book:before {
	content: "\42";
}
.icon-earth:before {
	content: "\65";
}
.icon-sun:before {
	content: "\3a";
}
.icon-adjust:before {
	content: "\3b";
}
.icon-checkmark:before {
	content: "\27";
}
.icon-blocked:before {
	content: "\28";
}
.icon-warning:before {
	content: "\21";
}
.icon-ccw:before {
	content: "\29";
}
.icon-layout:before {
	content: "\23";
}
.icon-list:before {
	content: "\3d";
}
.icon-trash:before {
	content: "\26";
}
.icon-sound:before {
	content: "\5c";
}
.icon-mute:before {
	content: "\2f";
}
.icon-arrow-left:before {
	content: "\3c";
}
.icon-arrow-down:before {
	content: "\76";
}
.icon-arrow-up:before {
	content: "\5e";
}
.icon-arrow-right:before {
	content: "\3e";
}
.icon-ellipsis:before {
	content: "\2e";
}
.icon-twitter:before {
	content: "\74";
}
.icon-facebook:before {
	content: "\66";
}
